* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin:  0px;
    padding: 0px;
    text-align: center;
    background-color: #673ab7;
}

nav {
    margin-top: 10px;
}

a.btn {
    color: white;
    background-color: orchid;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}

a.btn:hover {
    background-color: rgb(112,218,160);
}

.help-text {
    margin-top: 10px;
    color: white;
    font-size: .8em;
}